<mat-toolbar color="primary">
    <h1 routerLink="/" class="logo">Dating App</h1>
    <span width="20px"></span>
    @if (accountService.currentUser$ | async) {
        <button mat-button extended aria-label="Matches" routerLink="/members">
            <span>Matches</span>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button extended aria-label="Lists" routerLink="/lists">
            <span>Lists</span>
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button extended aria-label="Messages" routerLink="/messages">
            <span>Messages</span>
            <mat-icon>message</mat-icon>
        </button>
    }
    <span class="example-spacer"></span>
    @if (accountService.currentUser$ | async) {
    <button mat-button extended aria-label="User">
        <span>{{ (accountService.currentUser$ | async)?.username }}</span>
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button aria-label="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
    } @else {
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()" autocomplete="off">
        <mat-form-field>
            <input formControlName="userName" matInput type="text" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="password" matInput type="password" placeholder="Password">
        </mat-form-field>

        <button mat-raised-button type="submit" aria-label="Login">
            <span>Login</span>
        </button>
    </form>
    }

</mat-toolbar>